@model AddressBook.Models.Contact


@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.FullName </h2>

<h3> Full Name: @Model.FullName </h3>
<h3> Nick Name: @Model.NickName </h3>
<h3> Mobile: @Model.Mobile </h3>
<h3> Address: @Model.Address </h3>
<h3> Email : @Model.Email </h3>
<h3> Date of Birth: @Model.Birthdate </h3>
